@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@font-face {
	font-family: 'Raleway', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: grid;

}


a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url('../images/sky.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.bushes {
  background: url('../images/bushes.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.water {
  background: url('../images/water.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.people1 {
  background: url('../images/people1.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.people2 {
  background: url('../images/people2.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.people3 {
  background: url('../images/people3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
  height: 25rem;
}

.year-container h1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 12.5rem;
}

.year-container h1:nth-of-type(1) {
  top: 10%;
}

.year-container h1:nth-of-type(2) {
  left: 30%;
  bottom: 0;
}

.year-container h1:nth-of-type(3) {
  top: 0;
  right: 30%;
}

.year-container h1:nth-of-type(4) {
  right: 0;
  bottom: 20%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.info-container {
  background: #000;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }


@media (min-width: 1126px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
   background-size: contain;
  }
}

.wrap{
	display: inline-block;
	height: 60px;
	width: 60px;
	float: left;
	margin: 0 5px;
	background: red;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);

}

/* About Me paragraph */

.contain{
	position: absolute;
	top: 50%
	left: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 50px rgba(0,0,0, .2)
}

.circle{
	width: 200px;
	height: 200px;
	background: url("../images/sample.png");
	border-radius: 50%;
	float: left;
	shape-outside: circle();
	margin: 30px 30px 30px 0;
}

p{
	margin: 0;
	padding: 0;
	text-align: justify;
	line-height: 22px;

}

h1{
	margin: 0 0 20px;
	padding: 0;
	font-size: 30px;

}

/* Coding Languages part */

.languages{
  position: absolute;
  top: 50%
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  padding: 30px;
  padding-top: 60%;
  padding-bottom: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0,0,0, .2);
}

ul{
  list-style-type: none;
}













